@import "../base/vars";
.section-hero{
  position: relative;
  display: flex;
  .navbar-hero{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px auto 120px;
    width:calc(100% - 240px);
    .logo-part{
      display: flex;
      align-items: center;
      .logo{
        position: relative;
        padding-right:12px ;
        .rectangle-one,.rectangle-two{
          width: 32px;
          height: 32px;
          border-radius: 4px 4px 24px 4px;
        }
        .rectangle-one{
          background: #F59E0B;
        }
        .rectangle-two{ 
          position: absolute;
          left: 4px;
          top: 4px;
          background: #4BE4C9;
        }
      }
      .title-text{
        color: #1B1C57;
        font-size: 16px;
      }
    }
    .navbar-buttons{
      display: flex;
      .btn{
        margin-right: 24px;
        padding: 8px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 32px;
        color: #F0F3FD;
        background: rgba(255, 255, 255, 0.1);
        line-height: 18px;
      }
      .btn-sign{
        margin-left: 32px;
        padding: 12px 24px;
        border: 0;
        border-radius: 32px;
        color: #047857;
        background: #D1FAE5;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .title-search{
    .title-paragraph{
      margin-top: 24px;
      color: #626687;
      opacity: 0.75;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
    .search-box{
      position: relative;
      margin: 32px 0;
      padding: 4px 4px 4px 24px;
      border: 1px solid #E0E3EB;
      border-radius: 32px;
      gap: 16px;
      background: #FFFFFF;
      display: flex;
      align-items: center;
      .search-default-text{
        flex: none;
        order: 1;
        flex-grow: 1;
        color: #888B97;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
      .btn{
        padding: 12px 16px;
        border-radius: 32px;
        background: #10B981;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        flex: none;
        order: 2;
      }
    }
  }
}