@media (min-width:992px) and (max-width:1440px) {
    section,.footer{
        margin: 0 60px 120px 60px;
    }
    .section-hero{
        .navbar-hero 
        {
            width: calc(100% - 20px);
           // .navbar-buttons .btn {display: none;}
        }
        .title-search {
            margin-right: 60px;
        }
    }
    .section-sell .house-info .contact .btn-default {
        margin-left: 10px;
    }
    .section-featured
    { 
        .navbar-featured{
        margin-right: 20px;
        }
        .section-featured .carousel .slide {
            width: 36.5%;
        }
    }
    .section-subscribe {
        width: calc(100% - 120px);
    }
    .footer .menus {
        width: 60%;
    }
}
@media  (max-width:991px) {

    section,.footer{
        margin: 0 30px 60px 30px;
    }
    .section-hero{
        
        flex-direction: column;
        align-items: center;
        .navbar-hero{ 
            width: 100%;
            margin-right: 30px;
            .navbar-buttons{.btn{display: none;}}}
        .title-search {
            margin: 120px 0 60px;
            .search-default-text ,.btn-default span{display: none;}
            
        }
        .img-frames{
            border-radius: 0 80px;
            width: calc(100% - 100px);
        }
    }
    .section-featured 
    {
        margin-left: 5px;
        margin-right: 5px;
        .owl-carousel-featured {margin-left: 0;}
        .navbar-featured{
            margin-right: 30px;
            .navbar-buttons {
            display:none;}
        }
    }
    //.section-review{display: none;}
    .section-sell {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }
    .section-tips .tips{
        align-items: center;
        flex-direction:column-reverse;
    }
    .section-subscribe {
        width: calc(100% - 60px);
       
    }
    .footer{
        flex-direction:column-reverse;
        row-gap: 30px;
        .menus{width: auto;}
    }
}
@media (min-width:577px) and (max-width:880px) {
    .section-subscribe{ 
        .subscribe-imgs-1 {
            img:nth-of-type(1){top:2%;left:1%}
            img:nth-of-type(2),img:nth-of-type(4){display:none}
            img:nth-of-type(3){bottom:5%}
        }
       .subscribe-imgs-2{
            img:nth-of-type(1),img:nth-of-type(3){display:none}
            img:nth-of-type(4){bottom: 6%;left: 80%;}
        }
    }
}

@media  (max-width:576px) {
    .vectors{
        height: 4%;
    }
    .vector-right{top:44%}
    .vector-left{top:56%}
    section{.section-title{font-size: 22px;}}
    .section-hero {
        .img-title{ width: 90%;}
        .img-frames {
            .frames{left: 5px;}
            width: 100%;
            margin-right: 10px;
        }
    }
    .section-featured {
        .navbar-featured {
            margin-right: 0; 
            row-gap: 20px;
            flex-direction: column;
           div div{ flex-direction: column;}
            .section-rectangle {margin-bottom: 8px;}
            .section-title{margin-left: 0;}
        }
        .carousel{ 
            margin-right: 30px;
            .slide {
            width: 100%;
        }}
    }
    .section-sell .house-imgs .menu {
        max-width: 100%;
        img{max-width: 50%;}
    }
    .section-tips {
        .tips .tip{
            flex-direction: column;
            align-items: center;
            gap:10px;
            .tip-details{
                align-items: center;
                text-align: center;
                img {margin-right: 5px;}
            }
        }
       // .tip-title{display: none;}
    }
    .section-subscribe{ 
        .search-box{max-width: 400px;width: auto;}
        .subscribe-imgs-1 ,.subscribe-imgs-2{display:none}
    }
}