.vectors{
    position: absolute;
}
.vector{
    position: absolute;
    width: 438px;
    height: 494px;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
} 
.vector-relative{
    position: relative;
    width: 100%;
    height: 100%;
}
.vector-first{
    right: 0;
    top: 0;
    
}
.vector-second{
    left: 0;
    bottom: 0;
}
.vector-top{
    width: 485px;
    height: 417px;
    left: -120px;
    top: 0;
    .vector-second{
        right: 200px;
        bottom: 0;
    }
    .vector-first{background: #82F7FF;}
    .vector-second{background: #82FFD2;}
}
.vector-left{
    width: 296px;
    height: 769px;
    left:-120px;
    top: 60%;
    .vector-second{
        right: 28px;
        bottom: 0;
    }
    .vector-first{background: #82FFE8;}
    .vector-second{background: #C8FF82;}
}
.vector-right{
    width: 344px;
    height: 616px;
    right: -120px;
    top: 35%;
    .vector-first{background: #FF9882;}
    .vector-second{background: #FFFA82;}
}
.vector-bottom{
    width: 484px;
    height: 443px;
    right: -120px;
    bottom: -120px;
    .vector-first{background: #82BBFF;}
    .vector-second{background: #B9FF82;}
}

