.vector{
    position: absolute;
    width: 438px;
    height: 494px;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
} 
.vector-relative{
    position: relative;
    width: 741px;
    height: 523px;
}
.vector-first{
    left: 0;
    bottom: 0;
}
.vector-second{
    right: 0;
    top: 0;
}
.vector-top{
    left: -173px;
    top: -162px;
    .vector-first{background: #82F7FF;}
    .vector-second{background: #82FFD2;}
}
.vector-left{
    left: -173px;
    top: 80%;
    .vector-first{background: #82FFE8;}
    .vector-second{background: #C8FF82;}
}
.vector-right{
    right: -173px;
    top: 40%;
    .vector-first{background: #FF9882;}
    .vector-second{background: #FFFA82;}
}
.vector-bottom{
    right: -173px;
    bottom: -162px;
    .vector-first{background: #82BBFF;}
    .vector-second{background: #B9FF82;}
}

