<div class="section-hero">
    <div class="navbar-hero">
        <div class="logo-part">
            <div class="logo">
                <div class="rectangle-one"></div>
                <div class="regtangle-two"></div>
            </div>
            <title>Hounter</title>
        </div>
        <div class="navbar-buttons">
            <div class="buttons">
                <button class="btn "></button>
            </div>
            <div class="signup"></div>
        </div>
    </div>
    <div class="title-search">
    </div>
    <div class="img-frames">
    </div>
</div>
