
<div class="vector-top">
    <div class="vector-top-relative">
        <div class="vector vector-top-first"></div>
        <div class="vector vector-top-second"></div>
    </div>
</div>
<div class="vector vector-left-first"></div>
<div class="vector vector-left-second"></div>
<div class="vector vecto-right-first"></div>
<div class="vector vector-right-second"></div>
<div class="vector vector-bottom-first"></div>
<div class="vector vector-bottom-second"></div>
