
    <div class="vectors vector-top">
        <div class="vector-relative">
            <div class="vector vector-first"></div>
            <div class="vector vector-second"></div>
        </div>
    </div>
    <div class="vectors vector-left">
        <div class="vector-relative">
            <div class="vector vector-first"></div>
            <div class="vector vector-second"></div>
        </div>
    </div>
    <div class="vectors vector-right">
        <div class="vector-relative">
            <div class="vector vector-first"></div>
            <div class="vector vector-second"></div>
        </div>
    </div>
    <div class="vectors vector-bottom">
        <div class="vector-relative">
            <div class="vector vector-first"></div>
            <div class="vector vector-second"></div>
        </div>
    </div>
    