<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>app</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="converted.in" />
    <link
      rel="stylesheet"
      href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"
    />
  </head>
  <body>
    <%- include('./components/vectors.ejs') %> 
    <%-include('./components/home.ejs') %> 
    <%- include('./components/footer.ejs') %>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script>
      
    </script>
  </body>
</html>
