/* Core variables */
@import 'base/vars';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

/* Components */

/* Demo Page styles */
@import './components/_vectors';
@import './components/_header';
@import './components/_home';
@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend.ttf);
  }
body{
    position: relative;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
 }






